#link1:link {
    text-decoration: none;
}

#link2:link {
    text-decoration: overline;
}

#link2:hover {
    text-decoration: line-through;
}

#link2:visited {
    text-decoration: underline;
}

#link3:link {
    color: orange;
}

#link3:hover {
    color: green;
    text-decoration: underline;
}

#link4:link {
    border: solid blue;
    background-color: black;
    color: white;
}

#link4:hover {
    border: dotted black;
    background-color: white;
    color: black;
}

#link5:link {
    text-decoration: none;
    color: red;
}

#link5:visited {
    font-style: italic;
    font-weight: bold;
    color: orange;
}

#link5:hover {
    text-decoration: underline;
}

#link5:active {
    color: yellow;
}