p {
    border-left: 20em green solid;
    border-right: 20em red solid;
    width: 60%;
    height: 400px;
    font-size: 12px;
    letter-spacing: 1px;
    word-spacing: 1px;
    block-size: 20em;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 20px;
}

p:first-letter {
    font-size: 36px;
    color: blue;
    text-decoration: overline;
}

p::first-line {
    text-decoration: underline;
    text-transform: capitalize
}